.form-div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3%;
    border-radius: 6%;
    background-color: rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(5px);
    border: 3px solid rgba(0, 0, 0, 0);
    border-top-color: bisque;
    border-bottom-color: bisque;

}

.form-div form input[type=text], input[type=password]{
    padding: 4%;
    margin-top: 5%;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.19);
    color: #ffffff;
    outline: none;
}

::placeholder{
    color: rgba(255, 255, 255, 0.61);
}

#title{
    color: white;
    font-weight: bolder;
    padding: 10px;
}

#description{
    color: rgba(255, 255, 255, 0.62);
    margin-bottom: 10%;
}

#forgot-password{
    text-align: right;
    margin-top: 3%;
}
#forgot-password a{
    color: white;
    text-decoration: none;
}
#forgot-password a:hover{
    text-decoration: underline;
}

#log-btn{
    padding: 3%;
    border: none;
    border-radius: 10px;
    background-color: bisque;
    font-size: large;
    font-weight: bolder;
    width: 70%;
    margin-bottom: 15%;

}

.social-icon{
     margin: 2%;
}

#other-method-text{
    color: white;
}

